<%- include("partials/header"); -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label for="postTitleInput" class="form-label">Title</label>
        <input type="text" class="form-control" name="postTitle" id="postTitleInput">
        <label for="postBodyInput" class="form-label">Post</label>
        <textarea type="text" class="form-control" name="postBody" id="postBodyInput" rows="6"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer"); -%>